.academy {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 10vw;

  .academy_content {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;

    h2 {
      font-size: 32px;
      color: #ffffff;
      position: relative;
      width: fit-content;
    }

    h2::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0%;
      height: 2px;
      background-color: #ffffff;
      transition: 1s all;
    }
    .text_animation::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
    }

    .academy_content_source {
      display: flex;
      width: 10%;
      justify-content: space-between;
      align-items: center;

      img {
        width: 40px;
        filter: invert(70%) sepia(98%) saturate(361%) hue-rotate(31deg)
          brightness(97%) contrast(74%);
      }
    }

    .academy_acomplish {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 40vh;
    }
  }
}

@media screen and (max-width: $small) {
  .academy {
    padding: 10vw;

    .academy_content {
      width: 100%;
      height: 70%;
    }
  }
}

@media screen and (min-width: calc($small + 1px)) and (max-width: $medium) {
  .academy {
    padding: 10vw;
    height: 70vh;

    .academy_content {
      width: 90%;
      height: 60%;

      .academy_content_source {
        width: 20%;
        margin-top: 20px;
      }
    }
  }
}

@media screen and (min-width: calc($medium + 1px)) and (max-width: $large) {
  .academy {
    padding: 10vw;
    height: 70vh;

    .academy_content {
      width: 90%;
      height: 60%;

      .academy_content_source {
        width: 20%;
        margin-top: 20px;
      }
    }
  }
}
