.contact {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);

  .contact_form {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
    width: 40%;

    section {
      display: flex;
      flex-direction: column;
      position: relative;

      label {
        position: absolute;
        top: 1px;
        left: 15px;
        pointer-events: none;
        transition: 0.3s all;
        font-weight: 500;
      }

      input {
        position: relative;
        background-color: transparent;
        border: 0;
        height: 25px;
        border: 1px solid var(--black);
        outline: none;
        transition: 0.3s all;
        border-radius: 15px;
        padding-left: 10px;
        color: var(--black);
        font-weight: 600;
      }

      .error_form {
        font-weight: 600;
        color: red;
        position: absolute;
        bottom: -22px;
        padding-left: 15px;
      }

      input:focus,
      input:valid {
        background-color: var(--yellow);
      }

      input:focus + label {
        top: -20px;
      }

      input:valid + label {
        top: -20px;
      }

      textarea {
        resize: none;
        position: relative;
        background-color: transparent;
        border: 0;
        height: 20vh;
        border: 1px solid var(--black);
        outline: none;
        transition: 0.3s all;
        border-radius: 15px;
        padding: 10px 0 0 10px;
        color: var(--black);
        font-weight: 600;
      }

      textarea:focus,
      textarea:valid {
        background-color: var(--yellow) !important;
      }

      textarea:focus + label {
        top: -20px;
      }

      textarea:valid + label {
        top: -20px;
      }
    }

    .button {
      height: 30px;
      border-radius: 15px;
      border: 1px solid var(--black);
      font-weight: 500px;
      cursor: pointer;
      transition: 0.4s all;
    }
    .button:hover {
      border: none;
      border: 1px solid var(--yellow);
      background-color: var(--yellow);
    }

    .disabled {
      background-color: gray;
    }
    .disabled:hover {
      background-color: gray;
      border: 1px solid gray;
    }
  }
  .contact_animation_reveal {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 85vh;
    background-image: -webkit-radial-gradient(
      50% 135%,
      /* The 223px is what determines which side it is on, so if you wanted it to be on the left side, you would change it to -13px. Alter this to your needs*/
        circle closest-corner,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0) 100%,
      black 0,
      var(--yellow) 0
    );
    pointer-events: none;
  }
}
