.experience {
  height: 60vh;
  padding-left: 10vw;

  .experience_content {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;

    .experience_content_source {
      display: flex;
      width: 15%;
      justify-content: space-between;
      align-items: center;
    }

    h2 {
      font-size: 32px;
      position: relative;
      color: #ffffff;
      width: fit-content;
    }
    h2::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0%;
      height: 2px;
      background-color: #ffffff;
      transition: 1s all;
    }
    .text_animation::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
    }
  }
}

@media screen and (max-width: $small) {
  .experience {
    height: 100vh;
    padding: 1em;

    .experience_content {
      width: 90%;
      height: 80%;

      .experience_content_source {
        width: 50%;
      }

      h2 {
        font-size: 32px;
      }
    }
  }
}

@media screen and (min-width: calc($small + 1px)) and (max-width: $medium) {
  .experience {
    height: 50vh;
    padding: 1em;

    .experience_content {
      width: 80%;
      height: 70%;

      .experience_content_source {
        width: 30%;
      }
    }
  }
}

@media screen and (min-width: calc($medium + 1px)) and (max-width: $large) {
  .experience {
    height: 50vh;
    padding: 1em;
    .experience_content {
      width: 80%;
      height: 70%;

      .experience_content_source {
        width: 30%;
      }

      p {
        font-size: 19px;
      }
    }
  }
}
