.intro {
  color: var(--black);
  height: 100vh;
  display: flex;
  padding: 25vh 0 0 10vw;
  justify-content: center;
  width: 100%;

  .intro_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
    grid-column: 2/4;
    align-self: center;
    width: 60%;

    h1 {
      font-size: 40px;
      font-weight: 700;
      color: #ffffff;
      position: relative;
      width: fit-content;
    }
    h1::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0%;
      height: 2px;
      background-color: #ffffff;
      transition: 1s all;
    }
    .text_animation::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
    }
  }
}
