@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  /*fonts*/
  --font-garamond: "EB Garamond", serif;

  /*colors*/
  --yellow: #ffd159;
  --black: #081a1f;
  --white: #ffffff;

  /*Toast library overighting*/
  --toastify-color-success: #ffd159;
  --toastify-text-color-success: #fff;

  --toastify-font-family: var(--font-garamond);
}
